<div id="edit-contribution" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/contribution/edit-contribution.less</em>, <em>assets/js/pages/contribution/edit-contribution.page.js</em>, and <em>api/controllers/contribution/view-edit-contribution.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
