<footer class="container-fluid position-relative cc-footer bottom-0">
  <div class="container d-flex flex-wrap justify-content-between align-items-center py-3 mt-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <img src="/images/hero-cloud.png" alt="Cuidado Cristao logo" height="24" />
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">© 2023 Cuidado Cristão</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-body-secondary" href="#">
          <span class="fa fa-instagram" style="font-size: 24px;"></span>
        </a>
      </li>
      <li class="ms-3">
        <a class="text-body-secondary" href="#">
          <span class="fa fa-facebook" style="font-size: 24px;"></span>
        </a>
      </li>
    </ul>
  </div>
</footer>