
<% if(typeof me === 'undefined') { var me = undefined; } %>
<!DOCTYPE html>
  <html>
  <head>
    <title>Cuidado Cristao</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <% if (sails.config.environment === 'production') { %>
      <!-- Google Analytics, Google Tag Manager, etc. -->
    <% } else { %>
      <meta name="robots" content="noindex">
    <% } %>
  
    <!-- Stylesheets ======================== -->

    <!--STYLES-->
    <link rel="stylesheet" href="/dist/production.min.d5ed0cc7.css">
    <!--STYLES END-->

  </head>
  <body>
  <div purpose="page-wrap">

    <!-- inject header -->
    <%- include('../partials/header.ejs') %>

    <!-- Alert if email has not been confirmed -->
    <%- include('../partials/email-alert.ejs') %>

       
     <div class="cc-body-container pt-4">
        <%- body %>
     </div>

     <div class="position-absolute container-fluid px-0">
        <%- include('../partials/footer.ejs') %>
     </div>
  </div>
  
  
  <!-- Client-side JavaScript ======================== -->
    
  <% /* Auto-injected «script» tags: */ %>
  <!--SCRIPTS-->
  <script src="/dist/production.min.7461ee76.js"></script>
  <!--SCRIPTS END-->
  
  </body>
  </html>
  