<div id="edit-sermon" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/sermon/edit-sermon.less</em>, <em>assets/js/pages/sermon/edit-sermon.page.js</em>, and <em>api/controllers/sermon/view-edit-sermon.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
