<div id="404">
  <div style="max-width: 650px;" class="container text-center pt-5 pb-5">
    <h1 class="display-1 mb-3">404</h1>
    <hr/>
    <h2><%=__('The page you seek doesnt exist')%></h2>
    <div>
      <p><%=__('Think youre seeing this message in error')%>?
        <br class="d-none d-sm-inline" />
        <span class="d-inline d-sm-none">&nbsp;</span><%=__('Please')%> <a href="/contact"><%=__('Let us know')%></a></p>
    </div>
  </div>
</div>
