<div id="overview-en" v-cloak>

 <div class="container">
  <div class="display-3 text-primary">Cristian Care (Cuidado Cristão) Project</div>
  <em class="text-muted">English Version</em>  
  <hr>
  <div class="m-2 text-center"><a href="/projeto/overview-pt"><%=__(`Ir para versao em portugues do brasil`)%></a></div>
  
  <div class="display-3 text-primary">Overview</div>
  <hr>
  <p>
    Cristian Care Project aims to give a free and open-source Web Software to whom want to manager its congregant also
    as a communit of IT Servants of God`s Kingdom.
  </p>
</div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
