<div id="overview-en" v-cloak>

 <div class="container">
  <div class="display-3 text-primary">Cristian Care (Cuidado Cristão) Project</div>
  <em class="text-muted">English Version</em>  
  <hr>
  <div class="m-2 text-center"><a href="/projeto/overview-pt"><%=__(`Ir para versao em portugues do brasil`)%></a></div>
  
  <div class="display-3 text-primary">Overview</div>
  <hr>
  <p>
    Cristian Care Project aims to give a free and open-source Web Software to whom want to manager its congregant also as a communit of IT Servants of God`s Kingdom.
  </p>
  <p>
    It is being developed by cristians to cristians using, with:
  </p>
  <ul>
    <li>Node.js</li>
    <li>Sails.js Framework</li>
      <ul>
        <li><em>Enterprise JavaScript (EJS)</em></li>
        <li>Vue 2 (Parasails on Top)</li>
        <li>JavaScript ES6</li>
      </ul>
    <li>MongoDB concept</li>
    <li>GitHub Repository</li>
  </ul>
  <p>You can use it as</p>
  <ul>
    <li>Final User: just follow the HOW-TO-FINAL-USER.txt instructions and start managing your Church</li>
    <li>Half-part developer: <a href="https://github.com/rizikoblogger/cuidado-cristao">clone source-code from Git Hub</a>, add your own personal behaviour and start using as you want to</li>
    <li>Full-part developer: <a href="mailto:rogerio.santos@ibbt.org.br">join us</a> to increase Christian Care artefats and help us on making it better</li>
  </ul>
</div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
