<div id="overview-pt" v-cloak>

  <div class="container">
    <div class="display-3 text-primary">Projeto Cuidado Cristão (Cristian Care) </div>
    <em class="text-muted">Versão em Português do Brasil</em>
    <hr>
    <div class="m-2 text-center"><a href="/projeto/overview-en">
        <%=__(`Go to English version`)%>
      </a></div>

    <div class="display-3 text-primary">Visão Geral</div>
    <hr>
    <p>
      Cristian Care Project tem como objetivo dar um Software Web livre e de código aberto para quem quer gerenciar seus
      congregados como comunidade dos Servos do Reino de Deus.
    </p>

    <p>
      Sendo desenvolvido por cristão para uso dos cristãos com:
    </p>
    <ul>
      <li>Node.js</li>
      <li>Sails.js Framework</li>
      <ul>
        <li><em>Enterprise JavaScript (EJS)</em></li>
        <li>Vue 2 (Parasails no Topo)</li>
        <li>JavaScript ES6</li>
      </ul>
      <li>Conceitos do MongoDB</li>
      <li>Repositório GitHub</li>
    </ul>
    <p>Você pode utilzá-lo como:</p>
    <ul>
      <li>Usuário Final: simplesmente faça o download, siga as instruções e comece a gerenciar sua Igreja.</li>
      <li>Desenvolvedor parcial: <a href="https://github.com/rizikoblogger/cuidado-cristao">clone o código-fonte do Git
          Hub</a>, adicione seus próprios comportamentos personalizados
        como quiser e começe a usar</li>
      <li>Desenvolvedor total: <a href="mailto:rogerio.santos@ibbt.org.br">junte-se a nós</a> para aperfeiçoar os
        artefatos do Cuidado Cristão e nos ajude a torná-lo
        melhor.</li>
    </ul>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>