<div id="privacy">
    <div class="container pt-5 pb-5">
        <h1>Política de Uso de Dados da NOME_MINHA_IGREJA</h1>

        <p>Na NOME_MINHA_IGREJA nos preocupamos profundamente com sua privacidade e nos orgulhamos de ser um bom administrador de todos os dados que você escolher compartilhar conosco.  Se você tiver alguma dúvida sobre como usamos ou lidamos com os dados do usuário, basta <a href="/contact">perguntar</a> e entraremos em contato com você em um piscar de olhos.</p>

        <h3>Informações Gerais</h3>
        <p>Acreditamos que é importante que você entenda que tipos de informações estamos coletando e o que pode acontecer com essas informações ao usar nosso site e aplicativos e recursos relacionados (coletivamente, o "Serviço").
            Esta Política de Privacidade foi projetada para explicar as políticas e procedimentos da NOME_MINHA_IGREJA com relação à coleta, uso e divulgação por NOME_MINHA_IGREJA de informações sobre você em conexão com o Serviço. </p>
        <p>Ao acessar o Serviço, você concorda com a coleta, uso e divulgação de suas informações pessoais, conforme explicado nesta política de privacidade (a "Política de Privacidade").
            Esta Política de Privacidade está incorporada e está sujeita aos Termos de Serviço, que podem ser acessados <a href="/terms">aqui</a>.
            Seu uso do Serviço e qualquer informação que você fornecer através do Serviço está sujeito aos termos desta Política de Privacidade e nossos Termos de Serviço.</p>

        <h3>O que você vai encontrar nesta política de privacidade?</h3>
        <ol>
            <li>Como coletamos informações sobre você</li>
            <li>Como usamos ou compartilhamos informações sobre você</li>
            <li>Como protegemos as informações sobre você</li>
            <li>Outros assuntos relacionados às informações que coletamos sobre você</li>
        </ol>

        <h3>Coleta de informações</h3>
        <p>Coletamos informações sobre você de várias maneiras em conexão com o Serviço. NOME_MINHA_IGREJA será o controlador de seus dados pessoais processados em conexão com o Serviço e poderá ser contatado <a href="/contact">aqui</a>.</p>
        <h5>Inscrição / Registro / Assinatura</h5>
        <p>Para utilizar algumas funcionalidades e recursos disponíveis através do Serviço, o utilizador tem de concluir o nosso processo de registo. Durante o registro, um usuário é obrigado a fornecer certas categorias de informações, que podem incluir informações de identificação pessoal e outras informações sobre você, como seu nome, endereço, endereço de e-mail, informações de conta de rede social, senha, tipo de usuário, data de nascimento, sexo, número de telefone e como você ouviu falar sobre NOME_MINHA_IGREJA.</p>
        <h5>Informações Opcionais</h5>
        <p>Em vários outros pontos durante o uso do Serviço, você pode ter a opção de fornecer informações adicionais relacionadas a você.
            Por exemplo, você pode querer criar um perfil, postar, comentar a publicação de outro usuário ou compartilhar uma publicação com outra pessoa, ou você pode querer utilizar integrações de redes sociais ou recursos baseados em localização do Serviço.
            Para atividades voluntárias como essas, você tem a opção de divulgar ou não as informações necessárias para usar esses recursos do Serviço.</p>
        <h5>Coleta passiva de informações</h5>
        <p>
            Além das informações que você nos fornece ativamente por métodos como concluir nosso processo de registro, comentar ou compartilhar uma publicação, coletamos informações sobre como você interage com o Serviço.
            Coletamos informações passivas para fins como testar e melhorar a experiência do usuário com o Serviço e a compilação de dados demográficos e informações de uso relacionadas para fins internos e para divulgação a terceiros, como anunciantes e parceiros de negócios.
            Incluímos, sem limitação, certas informações padrão enviadas pelo seu navegador, como o seu endereço de Protocolo de Internet (IP), o ID do seu dispositivo, o seu tipo de navegador, capacidades e idioma, o seu sistema operacional, a data e hora em que acessa ao Serviço e o site de referência a partir do qual se conectou ao Serviço.
            Também coletamos informações relacionadas ao seu comportamento (como páginas visualizadas, links clicados e outras ações realizadas - dentro do Serviço).
            Também podemos utilizar links especiais, imagens eletrônicas ou outros objetos incorporados no Site — às vezes chamados de web beacons ou pixels de rastreamento — para coletar informações que ajudem a determinar e analisar como você e outros visitantes usam o Site.
            Se você nos forneceu informações pessoais por meio de registro ou outros meios voluntários, podemos conectar suas informações pessoais com informações passivas coletadas através de nosso Site e usar as informações combinadas para ajudar a determinar seus interesses potenciais em determinados produtos, serviços ou informações e para outros fins descritos nesta Política de Privacidade.
        </p>
        <h5>Cookies</h5>
        <p>
            As informações relacionadas às suas interações com o Serviço podem ser coletadas e armazenadas por nós em pequenos arquivos de dados, comumente chamados de cookies, que são colocados em seu dispositivo por nossos servidores.
            Podemos usar cookies de sessão temporários, que são encerrados quando você fecha sua sessão atual, para armazenar certas informações pessoais que você fornece para fins de administrar essa sessão e facilitar as transações solicitadas por você durante essa sessão. Também podemos usar cookies persistentes, que permanecem salvos em seu dispositivo após o encerramento da sessão atual, para armazenar informações relacionadas às suas interações com o Serviço para facilitar sessões futuras.
            A maioria dos navegadores aceita cookies automaticamente, mas você geralmente pode modificar as configurações do seu navegador para recusar cookies ou para notificá-lo quando um cookie está sendo colocado em seu dispositivo. Cada navegador é diferente, mas geralmente os usuários podem remover cookies seguindo as instruções fornecidas no arquivo de "ajuda" do navegador.
            Observe que, se você rejeitar cookies ou desativar cookies, alguns recursos do Serviço podem não funcionar corretamente.
        </p>
        <h5>Coleta de informações de menores de idade</h5>
        <p>O Serviço destina-se a um público em geral e não é apropriado para criançcas com menos de 16 anos.</p>
        <p>O uso do Serviço é proibido para menores de 16 anos.
            Se você tiver entre 16 e 18 anos de idade, deverá obter a autorização de seus pais ou responsável legal antes de usar o Serviço.
            Embora o Serviço possa conter informações que possam ser de interesse para crianças,
            o Serviço não é direcionado a crianças e não coletamos ou solicitamos intencionalmente informações pessoais de crianças menores de 16 anos.
        </p>

        <h3>Uso e compartilhamento de informações</h3>
        <p>O Serviço permite que os usuários publiquem, acessem e compartilhem conteúdo gerado pelo usuário e outras informações em toda a comunidade NOME_MINHA_IGREJA, outras redes sociais e outros sites e serviços on-line e podem incluir vários recursos e funcionalidades, como comentários, quadros de mensagens ou áreas de bate-papo, onde os usuários podem postar informações e se comunicar uns com os outros.
            Por favor, esteja ciente de que essas postagens e comunicações estão sendo disponibilizadas publicamente on-line e você o faz por conta própria </p>
        <p>
            Não usaremos, compartilharemos ou transferiremos intencionalmente informações sobre você a não ser de acordo com os termos estabelecidos nesta Política de Privacidade.
            Além disso, podemos usar, compartilhar ou transferir informações sobre você para outros fins para os quais obtivemos seu consentimento.
            Seu consentimento pode ser implícito, considerado (usando um mecanismo de opt-out) ou expresso.
            O consentimento expresso pode ser dado oralmente, eletronicamente ou por escrito.
            Consentimento implícito é o consentimento que pode ser razoavelmente inferido de sua ação ou inação.
            Independentemente de sua decisão sobre o compartilhamento de suas informações pessoais, podemos compartilhar dados demográficos e informações de uso relacionadas com nossos parceiros de negócios de forma agregada ou anônima com a intenção de remover ou ocultar qualquer informação pessoal que possa identificar qualquer usuário individual.
        </p>
        <p>
            Podemos usar informações sobre você para fornecer produtos e serviços a você e personalizar o Serviço de acordo com seus interesses e melhorar sua experiência geral com o Serviço.
            Tentamos reconhecê-lo usando vários métodos, incluindo fazer login com seu nome de usuário e sua senha.
            Uma vez que o reconhecemos, sua experiência pode ser personalizada para que você possa ver o que mais lhe interessa.
            Além disso, conforme descrito acima, utilizamos informações passivas para saber mais sobre como você interage com o Serviço.
            Essas informações passivas podem ser combinadas com outras informações e usadas para fins como melhorar sua experiência usando o Serviço, melhorar o Serviço, testar e aprimorar a segurança e a compilação de dados demográficos e informações de uso relacionadas para nossos fins internos e para outros fins descritos nesta Política de Privacidade.
        </p>
        <p>Embora nos esforcemos para proteger as informações pessoais de nossos usuários, podemos usar, compartilhar ou transferir seu pessoal sem seu conhecimento ou consentimento, se exigido pela lei aplicável ou requisitos regulamentares ou na crença de boa-fé de que tal ação é necessária ou apropriada.</p>
        <p>
            De tempos em tempos, podemos decidir que é mais eficiente usar terceiros para executar funções específicas relacionadas ao Serviço.
            Se usarmos um terceiro para executar funções específicas (como enviar comunicações para nossos usuários em nosso nome), as informações (como informações de contato) poderão ser compartilhadas com esse terceiro na medida necessária para que esse terceiro execute essa função.
            Autorizamos esses provedores de serviços terceirizados a usar informações de identificação pessoal apenas com a finalidade de fornecer os serviços específicos solicitados por nós.
            Os prestadores de serviços terceirizados cobertos por este parágrafo não incluem sites, aplicativos ou serviços de terceiros que são acessados por meio de links dentro do Serviço, que são regidos por uma disposição mais específica abaixo.
        </p>
        <p>Se você optar por um recurso que permita que terceiros entrem em contato com você, as informações pessoais sobre você (como suas informações de contato e outras informações coletadas durante sua visita ao Serviço) poderão ser compartilhadas com agregadores de dados, profissionais de marketing e outras organizações (possivelmente na forma de aluguel de listas).</p>
        <p>No caso de vendermos, cedermos ou transferirmos parte ou a totalidade do nosso negócio para um sucessor ou adquirente, poderemos vender, atribuir ou transferir todas as suas informações, independentemente do seu status, para esse sucessor ou adquirente.</p>

        <h3>Por quanto tempo armazenamos informações</h3>
        <p>NOME_MINHA_IGREJA armazenará seus dados pelo tempo necessário para fornecer nossos serviços e operar nossa organização. Se você pedir que NOME_MINHA_IGREJA exclua informações pessoais específicas, acataremos sua solicitação, a menos que a exclusão dessas informações nos impeça de realizar as funções necessárias, como calcular impostos ou realizar as auditorias necessárias.</p>

        <h3>Segurança</h3>
        <p>Temos medidas de segurança em vigor para ajudar a proteger contra o acesso não autorizado a informações de identificação pessoal sob nosso controle. Utilizamos métodos de segurança on-line e off-line, incluindo firewalls, senhas e acesso físico restrito aos locais onde suas informações são armazenadas para ajudar a proteger informações de identificação pessoal. Nossa equipe é treinada para cumprir com nossos procedimentos de segurança, e nossos procedimentos de segurança são regularmente revisados e revisados conforme julgamos necessário.</p>

        <h3>Como você pode acessar e atualizar suas informações</h3>
        <p>
            Nosso objetivo é que qualquer informação pessoal em nossa posse seja tão precisa, atual e completa quanto necessário para os fins para os quais usamos essas informações.
            Se você quiser revisar, verificar ou corrigir suas informações pessoais, entre em contato conosco usando as informações de contato descritas abaixo.
            Reservamo-nos o direito de não alterar nenhuma informação pessoal e, em vez disso, anexar qualquer informação alternativa que o indivíduo em questão acredite ser apropriada.
            Até certo ponto, dependemos de indivíduos para atualizar suas próprias informações pessoais.
            A menos que um indivíduo nos avise sobre essas mudanças importantes, talvez não tenhamos como conhecê-las.
        </p>

        <h3>Seus direitos legais</h3>
        <p>
            A LEI Nº 13.709, DE 14 DE AGOSTO DE 2018 - Lei Geral de Proteção de Dados Pessoais (LGPD) - dispõe sobre o tratamento de dados pessoais, inclusive nos meios digitais, por pessoa natural ou por pessoa jurídica de direito público ou privado, com o objetivo de proteger os direitos fundamentais de liberdade e de privacidade e o livre desenvolvimento da personalidade da pessoa natural.
            Determina ainda, no seu Parágrafo único,
            que "<em>as normas gerais contidas nesta Lei são de interesse nacional e devem ser observadas pela União, Estados, Distrito Federal e Municípios.
            </em>Destaca-se:
        </p>
        <ul>
            <li>
                <pre>
Art. 18. O titular dos dados pessoais tem direito a obter do controlador, em relação aos dados do titular por ele tratados, a qualquer momento e mediante requisição:

I - confirmação da existência de tratamento;

II - acesso aos dados;

III - correção de dados incompletos, inexatos ou desatualizados;

IV - anonimização, bloqueio ou eliminação de dados desnecessários, excessivos ou tratados em desconformidade com o disposto nesta Lei;

V - portabilidade dos dados a outro fornecedor de serviço ou produto, mediante requisição expressa, de acordo com a regulamentação da autoridade nacional, observados os segredos comercial e industrial;   (Redação dada pela Lei nº 13.853, de 2019)      Vigência

VI - eliminação dos dados pessoais tratados com o consentimento do titular, exceto nas hipóteses previstas no art. 16 desta Lei;

VII - informação das entidades públicas e privadas com as quais o controlador realizou uso compartilhado de dados;

VIII - informação sobre a possibilidade de não fornecer consentimento e sobre as consequências da negativa;

IX - revogação do consentimento, nos termos do § 5º do art. 8º desta Lei.

§ 1º O titular dos dados pessoais tem o direito de peticionar em relação aos seus dados contra o controlador perante a autoridade nacional.

§ 2º O titular pode opor-se a tratamento realizado com fundamento em uma das hipóteses de dispensa de consentimento, em caso de descumprimento ao disposto nesta Lei.

§ 3º Os direitos previstos neste artigo serão exercidos mediante requerimento expresso do titular ou de representante legalmente constituído, a agente de tratamento.

§ 4º Em caso de impossibilidade de adoção imediata da providência de que trata o § 3º deste artigo, o controlador enviará ao titular resposta em que poderá:

I - comunicar que não é agente de tratamento dos dados e indicar, sempre que possível, o agente; ou

II - indicar as razões de fato ou de direito que impedem a adoção imediata da providência.

§ 5º O requerimento referido no § 3º deste artigo será atendido sem custos para o titular, nos prazos e nos termos previstos em regulamento.

§ 6º O responsável deverá informar, de maneira imediata, aos agentes de tratamento com os quais tenha realizado uso compartilhado de dados a correção, a eliminação, a anonimização ou o bloqueio dos dados, para que repitam idêntico procedimento, exceto nos casos em que esta comunicação seja comprovadamente impossível ou implique esforço desproporcional.     (Redação dada pela Lei nº 13.853, de 2019)      Vigência

§ 7º A portabilidade dos dados pessoais a que se refere o inciso V do caput deste artigo não inclui dados que já tenham sido anonimizados pelo controlador.

§ 8º O direito a que se refere o § 1º deste artigo também poderá ser exercido perante os organismos de defesa do consumidor.
                </pre>
            </li>
        </ul>
        <p>
            Para fazer qualquer requisição relativa a Lei Geral de Proteção de Dados, <a href="/contact">contacte-nos</a>.
        </p>

        <p>Se você fizer tal solicitação, certifique-se de incluir suas informações de contato. Responderemos em até 30 dias. Se você gostaria de exercer qualquer um desses direitos, por favor <a href="/contact">contacte-nos</a>.</p>
        <p>Se desejar denunciar uma reclamação ou se achar que não abordamos a sua preocupação de forma satisfatória, tem o direito de apresentar uma reclamação junto da autoridade local de proteção de dados.</p>

        <h3>Listas de discussão eletrônicas e como cancelar a inscrição</h3>
        <p>Podemos usar suas informações de contato periodicamente para enviar e-mails ou outras comunicações sobre atualizações do Serviço e para alertá-lo ou lembrá-lo de acontecimentos relacionados ao Serviço. A frequência dessas mensagens varia dependendo de vários fatores.</p>
        <p>Se você não deseja mais receber e-mails nossos e deseja ser removido de nossa lista de discussão eletrônica, por favor, <a href="/contact">contacte-nos e</a> inclua "Email Unsubscribe" no corpo da sua mensagem.  Se você optar por cancelar a assinatura de nossas listas de discussão, manteremos suas informações de contato marcadas para que não entremos em contato inadvertidamente com você se seus dados nos forem posteriormente fornecidos por terceiros.</p>

        <h3>Responsável pela proteção de dados</h3>
        <p>Para se comunicar com nosso Responsável pela Proteção de Dados, envie um e-mail para <%= sails.config.custom.internalEmailAddress %>.</p>

        <h3>Outras disposições</h3>
        <p>Seu uso do Serviço indica uma aceitação dos termos da Política de Privacidade. Reservamo-nos o direito de atualizar ou alterar esta Política de Privacidade a qualquer momento. Publicaremos qualquer versão revisada desta Política de Privacidade em nosso site e recomendamos que você a consulte regularmente. As alterações contidas em qualquer versão revisada desta Política de Privacidade entrarão em vigor a partir do momento em que tal versão revisada for publicada, a menos que especificamente declarado de outra forma nela.</p>
        <p>
            Esta Política de Privacidade não cria ou confere a qualquer indivíduo quaisquer direitos, ou impõe a NOME_MINHA_IGREJA quaisquer direitos ou obrigações fora de, ou em adição a, quaisquer direitos ou obrigações impostas pelas leis de privacidade da jurisdição de tal indivíduo, conforme aplicável. A legislação de privacidade ou o direito à privacidade de um indivíduo podem diferir de uma jurisdição para outra. Os direitos e obrigações descritos nesta Política de Privacidade podem não se aplicar a todos os indivíduos ou em todas as jurisdições.
            Caso haja, em um caso específico, qualquer inconsistência entre esta Política de Privacidade e as LGPD, esta Política de Privacidade será interpretada, em relação a esse caso, para dar efeito e cumprir tais leis de privacidade.
        </p>
        <p>
            Por favor, esteja ciente de que, ao acessar nosso Serviço, você reconhece que nossos servidores estão atualmente localizados na nuvem (espalhados pela internet sem endereço físico real) e que as várias comunicações resultam necessariamente na transferência de informações através de fronteiras internacionais.
            Ao acessar o Serviço e se comunicar eletronicamente conosco, você concorda com o processamento e a transferência de suas informações pessoais, conforme estabelecido nesta Política de Privacidade.
            As informações pessoais coletadas por nós podem ser armazenadas e processadas em qualquer outro país, à (critério) dos provedores de serviço na nuvem (tais como Amazon e Google).
            As informações pessoais coletadas por nós podem ser transferidas entre nossas várias divisões e empresas afiliadas em todo o mundo, o que pode envolver a transferência além de fronteiras territoriais.
            Ao optar por acessar o Serviço, você concorda com qualquer transferência, armazenamento ou processamento de dados pessoais fora do seu país.

        </p>
        <p>
            Esta Política de Privacidade aplica-se exclusivamente às informações coletadas por nós on-line através do Serviço e não se aplica a qualquer site,
            aplicativo ou serviço que não seja o Serviço.
            Caso o Serviço contenha links para outros sites, aplicativos e serviços fornecidos por terceiros que não possuímos ou controlamos e não somos responsáveis pelas políticas
            e práticas de privacidade desses terceiros.

        </p>
        <p>Esta Política de Privacidade pode incluir exemplos, mas não se destina a ser restrita em sua aplicação a tais exemplos, portanto, "incluindo" significa "incluindo, sem limitação".</p>
        <p>Sua privacidade é importante para nós. Se você tiver dúvidas sobre qualquer uma das disposições descritas acima, por favor, <a href="/contact">contacte-nos</a>.</p>

        <p><strong>Data de Atualização: DATE_PRIVACY_POLICY_LAST_UPDATED.</strong></p>
    </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
