<div id="terms">
    <div class="container pt-5 pb-5">
        <h1>Termos de Serviço</h1>

        <p>Existem algumas regras básicas simples com as quais você precisará concordar antes de usar o NEW_APP_NAME.  Seguir essas regras é uma parte obrigatória do uso do nosso aplicativo, portanto, se você tiver alguma dúvida sobre elas, por favor, <a href="/contact">envie-nos uma mensagem</a> e responderemos em seguida.</p>

        <h3>Acordos de Nível de Serviço para uso do NEW_APP_NAME</h3>
        <p>Ao usar ou se inscrever no NEW_APP_NAME, você concorda em ficar vinculado aos seguintes termos e condições previstos no (o "<strong>Contrato</strong>").</p>
        <p>Ao marcar a caixa de seleção aplicável "Li e concordo com os termos de serviço", você concorda com o Contrato.</p>

        <h5>1. Quanto aos Suporte ao NEW_APP_NAME</h5>
        <p>Em troca do pagamento da taxa de assinatura aplicável, você pode solicitar por Serviço de Suporte para o NEW_APP_NAME, conforme descrito em nosso site em <%= sails.config.custom.baseUrl %>. Forneceremos os serviços de suporte NEW_APP_NAME de acordo com este Contrato e os outros termos e condições descritos em nosso site em <%= sails.config.custom.baseUrl %>.</p>

        <h5>2. Quanto a "Conta de Usuário" do NEW_APP_NAME</h5>
        <p>
            Para se tornar um cliente, você deve preencher um formulário de pedido e criar uma conta fornecendo nome, sobrenome e nome da empresa (se aplicável), endereço de e-mail e quaisquer outras informações indicadas conforme necessário. Podemos rejeitar qualquer formulário de pedido ou solicitação de uma conta por qualquer motivo, a nosso exclusivo critério. Você reconhece que usaremos o endereço de e-mail fornecido por você como o principal método de comunicação.
            Você é responsável por manter a senha da sua conta segura. Não podemos e não seremos responsáveis por qualquer perda ou dano decorrente de qualquer falha em manter a segurança da conta e senha.
        </p>
        <p>Se você fizer um pedido ou se inscrever em uma conta em nome de seu empregador, seu empregador será considerado o cliente para os fins deste Contrato, e você declara e garante que tem autoridade para vincular seu empregador a este Contrato. Cada cliente é responsável por garantir que seus funcionários, agentes e subcontratados cumpram este Contrato.</p>

        <h5>3. Taxas e Assinaturas</h5>
        <p>Você pagará um valor por sua assinatura, conforme especificado em seu formulário de pedido NEW_APP_NAME.  As taxas estão incluídas nos valores financeiros cobrados e estes são baseadas no prazo da assinatura e não no uso real, e as taxas pagas não são reembolsáveis.</p>

        <h5>4. Rescisão contratual</h5>
        <p>Qualquer uma das partes pode rescindir este Contrato a qualquer momento, com ou sem justa causa, com efeito imediato após notificação por escrito ou eletrônica. Após a rescisão deste Contrato, todos os direitos concedidos a você neste documento cessarão imediatamente, incluindo, mas não se limitando ao direito de acessar a Conta, a menos que previamente determinado de outra forma.</p>

        <h5>5. Direitos de propriedade intelectual</h5>
        <p>Você concorda em não nos fornecer nenhuma informação confidencial ou proprietária. Cada parte reconhece e concorda que a outra parte pode usar livremente e explorar comercialmente quaisquer ideias, comentários ou sugestões fornecidas por ela à outra parte.</p>

        <h5>6. Isenções de responsabilidade e limitação de responsabilidade da garantia</h5>
        <p><strong>OS SERVIÇOS SÃO FORNECIDOS "NO ESTADO EM QUE SE ENCONTRAM" E RENUNCIAMOS EXPRESSAMENTE A TODAS AS GARANTIAS, EXPRESSAS OU IMPLÍCITAS, INCLUINDO, MAS NÃO SE LIMITANDO A, GARANTIAS DE COMERCIALIZAÇÃO, NÃO VIOLAÇÃO E ADEQUAÇÃO A UMA FINALIDADE ESPECÍFICA.</strong></p>
        <p><strong>
                NENHUMA DAS PARTES TERÁ QUALQUER RESPONSABILIDADE COM RELAÇÃO AOS SERVIÇOS OU OBRIGAÇÕES SOB ESTE CONTRATO OU DE OUTRA FORMA POR QUAISQUER DANOS DIRETOS, INDIRETOS, INCIDENTAIS, ESPECIAIS, CONSEQUENCIAIS OU EXEMPLARES, INCLUINDO, MAS NÃO LIMITADO A, DANOS POR PERDAS DE LUCROS, BOA VONTADE, USO, DADOS OU OUTRAS PERDAS INTANGÍVEIS RESULTANTES DE QUALQUER FORMA DOS SERVIÇOS.  EM QUALQUER CASO, A RESPONSABILIDADE DE CADA PARTE SOB ESTE CONTRATO, POR QUALQUER MOTIVO, SERÁ LIMITADA AOS VALORES PAGOS POR VOCÊ
                DURANTE O PERÍODO DE SEIS MESES IMEDIATAMENTE ANTERIOR AO ACONTECIMENTO QUE DEU ORIGEM AO PEDIDO DE INDENIZAÇÃO.
                ESTA LIMITAÇÃO APLICA-SE A TODAS AS CAUSAS DE AÇÃO NO CONJUNTO, INCLUINDO, MAS NÃO LIMITADO A, VIOLAÇÃO DE CONTRATO, VIOLAÇÃO DE GARANTIA, NEGLIGÊNCIA, RESPONSABILIDADE OBJETIVA, DECLARAÇÕES FALSAS E OUTROS DELITOS. ESTAS LIMITAÇÕES APLICAM-SE MESMO QUE UMA PARTE TENHA SIDO AVISADA DA POSSIBILIDADE DE TAIS DANOS. AS LIMITAÇÕES ACIMA SE APLICAM NA MÁXIMA EXTENSÃO PERMITIDA PELA LEI APLICÁVEL.
            </strong></p>

        <h5>7. Disposições gerais </h5>
        <p>
            Este Contrato estabelece todo o acordo e substitui todo e qualquer acordo anterior, escrito ou oral, das partes com relação ao assunto aqui tratado. Reservamo-nos o direito de atualizar e alterar o Contrato UNILATERALMENTE, publicando atualizações e alterações em nosso site, <%= sails.config.custom.baseUrl %>. Você é aconselhado a verificar o Contrato de tempos em tempos para quaisquer atualizações ou alterações que possam afetá-lo.
            Se uma alteração significativa for feita, forneceremos um aviso antecipado por e-mail e uma oportunidade de rescindir este Contrato se você não concordar com a alteração.
        </p>
        <p>
            As partes deste Contrato são contratantes independentes. Nenhuma das partes é agente, representante ou entidade relacionada da outra parte. Nada neste Contrato se destina a criar, nem será interpretado como criação qualquer acordo exclusivo entre as partes deste Contrato.
            O presente Acordo não restringe nenhuma das partes de celebrar acordos semelhantes com outras partes.
            Cada parte entende que a outra parte pode, agora ou no futuro, estar envolvida no desenvolvimento ou fornecimento de produtos ou serviços competitivos.
            Nenhuma das partes é responsável por qualquer falha ou atraso causado por qualquer circunstância ou evento além de seu controle razoável.
        </p>

        <h5>8. Lei Geral de Proteção de Dados</h5>
        <p>	AO INFORMAR SEUS DADOS PESSOAIS EM FORMULÁRIOS DE ENTRADA DE DADOS DO NEW_APP_NAME, VOCÊ ESTÁ CONSENTINDO QUE MANTENHAMOS ESTES DADOS ARMAZENADOS, SEM CONTUDO AUTORIZAR SEU USO OU DIVULGAÇÃO PARA ALÉM DO ESTRITAMENTE NECESSÁRIO A ATIVIDADE DE SUPORTE.
        </p>
        <p>
            OS DADOS PESSOAIS QUE PORVENTURA ESTEJAM INCORRETOS PODEM SER CORRIGIDOS DIRETAMENTE PELOS USUÁRIOS, NO ENTANTO, HAVENDO QUALQUER DIFICULDADE EM FAZÊ-LO, BASTA SOLICITAR AO SUPPORTE POR MEIO DOS CANAIS DISPONIBILIZADOS (FORMULÁRIO WEB, TELEFONE, E-MAIL).
        </p>
        <p>
            A QUALQUER TEMPO, VOCÊ PODE SOLICITAR A REMOÇÃO DE SEUS DADOS PESSOAIS DE NOSSAS BASES DE DADOS. ESTAS DEFINIÇÕES ESTÃO CONTIDAS NA NOSSA
            <a href="/legal/privacy">POLÍTICA DE USO DOS DADOS</a> E SÃO PARTE DESTE TERMO, COMO SE AQUI DESCRITO.
        </p>
        <hr/>
        <p><strong>Data de Atualização: DATE_PRIVACY_POLICY_LAST_UPDATED.</strong></p>
    </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
