<div id="edit-user" v-cloak>

    <div class="container">
        <div class="display-3"><%=__(`Edit User`)%></div>
        <em class="text-muted"><%=user.id%></em>
        <hr>

    </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
