<div id="edit-classe" v-cloak>

<div class="container">
  <div class="display-3"><%=__('Edit Group')</div>
  <hr>
  <em class="text-muted"><%=classe.id%></em>

  <span class="form-control"><%=classe.church.fullName %></span>
  
</div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
