<div id="search-classe" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/classe/search-classe.less</em>, <em>assets/js/pages/classe/search-classe.page.js</em>, and <em>api/controllers/classe/view-search-classe.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
