<div id="not-yet" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>This page has been not created yet!</p>

  <em class="text-muted"><small>
    Probably, some developer thing about creating it, otherwise he didn't do it until now.
  </small></em>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
