<div id="project-search" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/project/project-search.less</em>, <em>assets/js/pages/project/project-search.page.js</em>, and <em>api/controllers/project/view-project-search.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
